$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-background: #fff6b0;
$secondary-background: #aed5ff;
// $tertiary-background: ;

$primary-dark: #000000;
$secondary-dark: #3e3e3e;
$primary-light: #bdbdbd;

$secondary-light: #ece4c1;
$primary-border: #ca4646;
// $secondary-border: ;
